<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hozuo.testMybatisDatasource.mapper.testD1.TestD1Mapper">

    <select id="select" resultType="com.hozuo.testMybatisDatasource.pojo.User">
        SELECT * FROM user
    </select>
</mapper>